<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.moje.przepisy.mojeprzepisy">

  <uses-feature
    android:name="android.hardware.camera"
    android:required="true"/>

  <uses-permission android:name="android.permission.SEND_SMS"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.FLASHLIGHT"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/logo"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/MyAppTheme">
    <activity android:name=".welcome.WelcomeView">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".home_page.HomePageView">
    </activity>
    <activity android:name=".register.RegisterActivityView">
    </activity>
    <activity android:name=".log_in.LoginActivityView">
    </activity>
    <activity android:name=".search_options.SearchSwipeActivity">
    </activity>
    <activity android:name=".ui.MainCardsActivityView">
    </activity>
    <activity android:name=".log_out.LogoutActivityView">
    </activity>
    <activity android:name=".add_recipe.add_recipe.add_main_recipe_page.AddRecipeActivityView">
    </activity>
    <activity android:name=".add_recipe.add_recipe.add_ingredients.AddIngredientsActivityView">
    </activity>
    <activity android:name=".add_recipe.add_recipe.add_steps.AddStepsActivityView">
    </activity>
    <activity android:name=".add_recipe.add_recipe.display_all_recipe_elements.DisplayAllRecipeElementsActivityView">
    </activity>
    <activity android:name=".recipe_details.RecipeDetailsActivityView">
    </activity>
    <activity android:name=".timer.TimerActivityView">
    </activity>
  </application>

</manifest>